
:root {
  --theme: rgb(4,74,146);
  --white: #ffffff;
  --black: #212529;
}

.font-1
{
  font-family: 'Calibri'
}

.infowaste
{
  color: var(--theme);
}

.dropdown-item:active
{
    background-color: var(--theme) ;
    color: var(--white)
}

.dropdown-item:hover
{
    background-color: var(--theme) ;
    color: var(--white);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.bg-infowaste
{
  background-color:var(--theme);
  color:var(--white)
}

.bg-infowaste-light
{
  background-color: rgba(4,74,146,0.5);
  color:var(--black)
}

.btn-white
{
  background-color: var(--white) ;
  color: var(--black);
}

.btn-infowaste
{
  color: var(--white);
  background-color:var(--theme);
}

.btn
{
  border-radius: 20px
}

.btn-infowaste:hover
{
  color: var(--white);
  background-color:var(--theme);
  transition: 0.2s;
  opacity:0.7;

}
.btn-infowaste:active
{
  color: var(--white);
  background-color:var(--theme);
  transition: 0.2s;
  opacity:0.7;
}

.btn-infowaste-2
{
  border: 1px solid var(--theme);
  color:var(--theme) ;
  background-color:var(--white);

}
.btn-infowaste-2:hover
{
  color:var(--theme) ;
  background-color:var(--white);
  transition: 0.2s;
  opacity:0.7;

}
.btn-infowaste-2:active
{
  color:var(--theme) ;
  background-color:var(--white);
  transition: 0.2s;
  opacity:0.7;
}
.field_index
{
  margin-left: 15px;
  margin-right: 5px;
}

.disabled-container {
    pointer-events: none;
    opacity: 0.4;
}
